div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph{font-family: 'Montserrat','Arial';color: #000000;font-size:281.25%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-size: 24px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:HOVER, div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:ACTIVE, div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading{background: #ffffff;background: RGBA(255,255,255,0);padding:0px 0px 0px 0px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;font-size: 24px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:Hover, div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:ACTIVE, div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:FOCUS{}

div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph{font-family: 'Montserrat','Arial';color: #000000;font-size:281.25%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-size: 45px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:HOVER, div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:ACTIVE, div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading{background: #ffffff;background: RGBA(255,255,255,0);padding:0px 0px 0px 0px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;font-size: 45px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:Hover, div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:ACTIVE, div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:FOCUS{}

div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph{font-family: 'Montserrat','Arial';color: #000000;font-size:281.25%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-size: 24px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:HOVER, div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:ACTIVE, div#n2-ss-0 .n2-font-a830e942583a50a6bdb8179560acb6a6-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading{background: #ffffff;background: RGBA(255,255,255,0);padding:0px 0px 0px 0px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;font-size: 24px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:Hover, div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:ACTIVE, div#n2-ss-0 .n2-style-aca2d6f8b4889c9607a298485c73235a-heading:FOCUS{}

div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph{font-family: 'Montserrat','Arial';color: #000000;font-size:281.25%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;font-size: 45px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:HOVER, div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:ACTIVE, div#n2-ss-0 .n2-font-a11f3cb6d881768e2a78f9a444333581-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #000000;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading{background: #ffffff;background: RGBA(255,255,255,0);padding:0px 0px 0px 0px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;font-size: 45px;

color:#fff;

text-shadow: 0 0 5px #333;

font-weight: 900;

font-family: "Alegreya Sans",Tahoma, Geneva, sans-serif;

margin-bottom: 0px;

 /*text-shadow: 2px 2px 5px black, 2px 2px 100px black;*/

text-align:center;}
div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:Hover, div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:ACTIVE, div#n2-ss-0 .n2-style-99bffe5128ad81a035acbfc4f8666342-heading:FOCUS{}

